

/* fonts */
@font-face{
    font-family: "3dunicode";
    src: url(fonts/3d_unicode.ttf);
}
/* fonts */


body{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: "3dunicode";
    margin: 5% 0;
}
ul{
    margin: 3% 0;
    width: 90%;
    list-style-type: none;
    /* max-height: 400px; */
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
li {
    margin-bottom: 10px;
}
li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}
.infoBox{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}
.btn-box{
    display: flex;
    justify-content: flex-end;
}
.btn-box .clearBtn{
    font-size: medium;
    padding: 3px 5px;
}
.checkbox{
    margin-right: 10px;
}
